server {
    listen 80;
    server_name jstafford.xyz;

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }

    location / {
        root /var/www/html/personal_resume_website;
        index index.html;
    }
}